<div>
  <div class="products-list__title">
    <h2 *ngIf="productsData && productsData.length; else noProduct">
      {{ title }}
    </h2>
  </div>
  
  <div class="row">
    <div
      *ngFor="let productCategoryItem of productsData"
      class="card col-sm-6 product-category__container"
    >
      <div class="row">
        <div class="product-category__title col-sm-12">
          <h5>{{ productCategoryItem.categoryName }}</h5>
        </div>

        <div class="col-sm-12">
          <div class="row">
            <div
              *ngFor="let product of productCategoryItem.products"
              class="card-body col-sm-6"
            >
              <div class="product-kaart__inner">
                <h2 class="product-title">
                  <span>{{ product.name }}</span>
                </h2>
                <div class="product-subtitle">
                  {{ product.subTitle1 }}
                  <br />
                  {{ product.subTitle2 }}
                </div>
                <div class="product-price">
                  <div class="prijs-wrap">
                    <span class="Prijs">
                      <span class="value">
                        <span class="value__euros">{{ product.price }}</span>
                      </span>
                      <span class="eenheid">&nbsp; {{ product.priceValidityInterval }}</span>
                    </span>
                  </div>

                  <div class="product-price__discount">
                    {{ product.korting }}% KORTING
                  </div>
                </div>
                <div class="product-kaart__premium"></div>
                <div class="kennismaking">
                  Introductietarief
                </div>
                <div
                  class="PopoverLayer"
                  data-v-e49bc4b8=""
                  data-v-72153900=""
                ></div>
                <div class="button product-kaart__button-container">
                <button
                  type="button"
                  title="Bestel nu"
                  class="button product-kaart__button button--primary"
                  (click)="addToCart(product)"
                >
                  Bestel nu
                </button>
                </div>
                <div>
                  <div class="packshots--container AD">
                    <!---->
                  </div>
                  <div class="usps-wrapper">
                    <div class="usps">
                      <ul>
                        <li>
                          <a
                            rel="noopener noreferrer"
                            href="#bed87eed-095f-4308-bb42-3a8efc9d151c"
                            >Onbeperkt Premiumartikelen</a
                          >
                        </li>
                        <li>
                          <a
                            rel="noopener noreferrer"
                            href="#6b060347-69d5-4784-aee4-21d9922eea77"
                            >Digitale krant met bijlagen (pdf)</a
                          >
                        </li>
                        <li>
                          <a
                            rel="noopener noreferrer"
                            href="#11fb54ce-c98c-44db-8cfc-4781cc6ff909"
                            >Magazine Mezza en bijlagen Z&amp;Zo</a
                          >
                        </li>
                        <li>
                          <a
                            rel="noopener noreferrer"
                            href="#b6926d02-a3fb-4a32-98b9-086234fc338b"
                            >Extra dikke weekendkrant</a
                          >
                        </li>
                        <li>
                          <a
                            rel="noopener noreferrer"
                            href="#f50e6f85-8f76-487d-92f0-cd960f089e84"
                            >Doordeweeks de papieren krant</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noProduct>
    <div class="alert" role="alert">No product to show.</div>
  </ng-template>
</div>
