.products-list__title {
  margin-bottom: 30px;
  text-align: center;
  strong {
    background: var(--yellow);
    text-transform: uppercase;
    font-size: 19px;
    padding: 2px 7px;
  }
}

.product-category__title {
  h5 {
    border-bottom: 1px solid var(--gray-dark);
    margin-bottom: 0;
  }
}

.product-category__container {
  border: none;
}
