<div>
  <div
    *ngIf="productsData && productsData.length; else noProduct"
    class="products-list__title"
  >
    <h2>
      {{ title }}
    </h2>
    <p>
      With all subscriptions you can enjoy unlimited
      <strong>PREMIUM</strong> read articles on 5 devices simultaneously
    </p>
  </div>

  <div class="row">
    <div
      *ngFor="let productCategoryItem of productsData"
      class="card col-sm-6 product-category__container"
    >
      <div class="row">
        <div class="product-category__title col-sm-12">
          <h5>{{ productCategoryItem.categoryName }}</h5>
        </div>

        <div class="col-sm-12">
          <div class="row margin-0">
            <app-product
              *ngFor="let product of productCategoryItem.products"
              [product]="product"
              class="col-sm-6 padding-0"
            ></app-product>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
   {{ errorMessage }}
  </div>

  <ng-template #noProduct>
    <div *ngIf="!errorMessage" class="alert" role="alert">No product to show.</div>
  </ng-template>
</div>
