<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="KrantnlFooter-logo">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49">
        <g fill-rule="evenodd" fill="none">
          <path d="M.01 49h48.897V.093H.01z" fill="#D10A10"></path>
          <path
            fill="#FFFFFE"
            d="M31.508 31.12h-1.803V15.983h1.73c4 0 6.775 2.308 6.775 7.57 0 5.405-2.594 7.567-6.702 7.567m.252-21.26H20.929l8.57 27.385h2.586c9.188 0 14.233-5.585 14.233-13.727 0-8.182-5.01-13.658-14.558-13.658M13.242 26.517l2.548-8.579 2.476 8.58h-5.024zM20.138 9.86h-8.04L2.59 37.292h7.518l1.41-4.635h8.543l1.444 4.635h7.266L20.138 9.86z"
          ></path>
        </g>
      </svg>
    </div>
  </div>
  <span>DPG</span>
  <div class="spacer"></div>
</div>

<!-- Main content -->
<div class="content" role="main">
  <div class="card-container">
    <app-products></app-products>
  </div>
</div>

<!-- Footer -->
<footer class="KrantnlFooter">
  <section class="KrantnlFooter-head">
    <div class="KrantnlFooter-wrapper KrantnlFooter-wrapper--top">
      <div class="KrantnlFooter-logo">
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49">
            <g fill-rule="evenodd" fill="none">
              <path d="M.01 49h48.897V.093H.01z" fill="#D10A10"></path>
              <path
                fill="#FFFFFE"
                d="M31.508 31.12h-1.803V15.983h1.73c4 0 6.775 2.308 6.775 7.57 0 5.405-2.594 7.567-6.702 7.567m.252-21.26H20.929l8.57 27.385h2.586c9.188 0 14.233-5.585 14.233-13.727 0-8.182-5.01-13.658-14.558-13.658M13.242 26.517l2.548-8.579 2.476 8.58h-5.024zM20.138 9.86h-8.04L2.59 37.292h7.518l1.41-4.635h8.543l1.444 4.635h7.266L20.138 9.86z"
              ></path>
            </g>
          </svg>
        </div>
      </div>
      <div class="KrantnlFooter-links">
        <ul class="KrantnlFooter-list">
          <li>
            <a href="#"> Home </a>
          </li>
          <li>
            <a href="#"> Studentenabonnement </a>
          </li>
          <li>
            <a href="#"> Zakelijke abonnementen </a>
          </li>
          <li>
            <a target="_blank">Privacy statement</a>
          </li>
          <li>
            <a href="#"> Algemene Voorwaarden </a>
          </li>
          <li>
            <a> Cookie-instellingen </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</footer>
