.toolbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: var(--red);
  color: var(--white);
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 32px auto 32px;
  padding: 0 16px;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
}

.KrantnlFooter {
  position: relative;
  z-index: 10;
}

.KrantnlFooter-wrapper {
  max-width: 100%;
}

@media only screen and (min-width: 640px) {
  .KrantnlFooter-wrapper {
    max-width: 748px;
  }
}

@media only screen and (min-width: 1024px) {
  .KrantnlFooter-wrapper {
    max-width: 1005px;
  }
}

.KrantnlFooter-wrapper--top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .KrantnlFooter-wrapper--top {
    flex-direction: row;
    padding: 0 15px;
  }
}

.KrantnlFooter-wrapper {
  margin: 0 auto;
  position: relative;
}

@media only screen and (min-width: 1024px) {
  .KrantnlFooter-head {
    padding: 10px 0;
  }
}
.KrantnlFooter-head {
  background: var(--red);
  padding: 10px 30px 30px;
}

.KrantnlFooter-logo {
  max-width: 150px;
}

.KrantnlFooter-logo svg {
  height: 55px;
  max-width: 150px;
  display: block;
  margin: 0;
}

// @media only screen and (min-width: 1024px) {
//   .KrantnlFooter-links {
//     padding-right: 70px;
//   }
// }
.KrantnlFooter-links {
  flex: 1;
  margin-top: 12px;
}

.KrantnlFooter-list {
  text-align: center;
  list-style: none;
}

.KrantnlFooter-list li {
  display: block;
}

@media only screen and (min-width: 640px) {
  .KrantnlFooter-list li {
    display: inline;
  }
}

.KrantnlFooter-list li a {
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (min-width: 640px) {
  .KrantnlFooter-list li a {
    font-size: 14px;
    line-height: 21px;
  }
}

@media only screen and (min-width: 640px) {
  .KrantnlFooter-list li:after {
    color: var(--white);
  }
}
@media only screen and (min-width: 640px) {
  .KrantnlFooter-list li:not(:last-child):after {
    content: "-";
    margin: 0 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .KrantnlFooter-head {
    padding: 10px 0;
  }
}
